# Created by .ignore support plugin (hsz.mobi)
.gitignore
out/artifacts/BookStore_war_exploded/WEB-INF/classes/test/
out/artifacts/BookStore_war_exploded/WEB-INF/classes/web/client/
out/artifacts/BookStore_war_exploded/client/
